  <!DOCTYPE html>
  <html>
      <head>
      <title>Voutbém!</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">

      <link href="css/bootstrap.min.css" rel="stylesheet">
      <link href="css/bootstrap-theme.min.css" rel="stylesheet">
      <link href="css/theme.css" rel="stylesheet">
      
  </head>


   <body role="document">

      <!-- Fixed navbar -->
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Voutbém!</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>

      <div class="container theme-showcase" role="main">

       <div class="page-header">
          <h1> <span class="label label-success">Novo</span> evento</h1>
        </div>
    
    <form class="navbar-form navbar-left" id="eventform" name="event_form" method="POST" action="/events">
    <div class="form-group input-group-lg">
    
     <div class="input-group form-group">
     <span class="input-group-addon">Quem</span>
     <input type="text" class="form-control" placeholder="Quem está organizando?" name="who" id="who">
     </div>
    
     <p></p>  
    
     <div class="input-group form-group">
     <span class="input-group-addon">O quê?</span>
     <input type="text" class="form-control" placeholder="Ex.: Churrasco" name="what" id="what">
     </div>
    
     <p></p>  
     <div class="input-group form-group">
     <span class="input-group-addon">Informações</span>
     <textarea class="form-control" rows="6" placeholder="<%= date %>" name="info" id="info" ></textarea>
     </div>
     <p></p>
     
    <!-- <div class="btn-group dropup form-group">
    <button type="button" class="btn btn-default">Inserir</button>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu"> -->
    <!-- Dropdown menu links -->
    <!-- <li><a href="#">Data</a></li>
    <li><a href="#">Geolocation</a></li>
    <li><a href="#"></a></li>
    </ul>
    </div> -->

     <button type="submit" id="createEvent" value="Criar" class="form-control btn btn-lg btn-primary">Criar</button>
    </div>
  </form>  
  </div> <!-- /container -->

      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script>
      $('#eventform').submit(function() {
          $('#createEvent').prop('disabled',true);
      }); 
      </script>
    </body>
  </html>